<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.jorgegilcavazos.ballislife">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.gmail.jorgegilcavazos.ballislife.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.jorgegil.closegamealert.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".features.intro.IntroActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".features.main.MainActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".features.gamethread.CommentsActivity"
            android:label="Comments"
            android:parentActivityName=".features.main.MainActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.example.jorgegil.closegamealert" />
            </intent-filter>
        </receiver>

        <service
            android:name=".network.GCMMessageHandler"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="87003f261e96116d27947fd20dd714ca5a34d579" />

        <activity
            android:name=".features.settings.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".features.login.LoginActivity" />
        <activity
            android:name=".features.submission.SubmissionActivity"
            android:label="@string/title_activity_submission"
            android:theme="@style/AppTheme" />
        <activity android:name=".features.profile.ProfileActivity"></activity>
    </application>

</manifest>